html{
    color:black;
    background-color: rgba(172, 161, 161, 0.603);
    background-image: url("./cachorro-livro.png");
    background-repeat:no-repeat;
    height:100vh;
    background-position: center;
    font-size: 1.3rem;

}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

h2{
    color:green;
}
p{
    color:rgb(15, 15, 104);
    text-indent: 2rem;
}
.titulo{
    text-decoration: underline;
}
.texto-azul{
    color:rgb(45, 45, 73);
}
.texto-vermelho{
    color:red;
}
.texto-vermelho .comentário{
    color:chocolate
}
.comentário{
    color:aqua;
    font-weight: bold;
}
#titulo-navegação-principal{
    color:brown;
    letter-spacing: 0.1rem;

}
#titulo-cursos-realizados{
    color:blueviolet;
}

